@import "tailwindcss";
@import "./styles/theme.css";

body {
    background-color: var(--color-bg);
    margin: 0 !important;
}

.header {
    color: var(--color-white) !important;
}

.ff-m-plus-1-bold {
    font-family: 'M PLUS 1 Bold', sans-serif;
}

.ff-m-plus-1-medium {
    font-family: 'M PLUS 1 Medium', sans-serif;
}

.ff-m-plus-1-regular {
    font-family: 'M PLUS 1 Regular', sans-serif;
}

.ff-m-plus-1-semibold {
    font-family: 'M PLUS 1 SemiBold', sans-serif;
}

.ff-m-plus-1-code-bold {
    font-family: 'M PLUS 1 Code Bold', sans-serif;
}

.ff-poppins-bold {
    font-family: 'Poppins Bold', sans-serif;
}

.ff-poppins-regular {
    font-family: 'Poppins Regular', sans-serif;
}

@layer utilities {
    .clip-segment {
        clip-path: ellipse(100% 70% at 50% 100%);
    }
}

.blur-card {
    background: linear-gradient(112.54deg, rgba(255, 255, 255, 0.37) 10.29%, rgba(255, 255, 255, 0) 100.35%);
    backdrop-filter: blur(75px);
}